::-webkit-scrollbar {
  width: 2px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $light-brown;
}

body {
  margin: 0;
  font-family: $montserrat;
  color: #000;
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 50px;

  @media (max-width: $screen-sm) {
    padding: 40px 15px 60px;
  }
}
