.card {
  &__header {
    background-color: $light-brown;
    text-align: center;
    padding: 5px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__content {
    height: 250px;
    background-color: $white-2;
    overflow-y: auto;
    padding: 20px;
    overflow-x: hidden;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    &:hover {
      color: $red;
      text-decoration: line-through $red;
      cursor: pointer;

      .card__input--delete {
        content: url('data:image/svg+xml,<svg fill="%23d63031" width="20px" viewBox="-1.7 0 20.4 20.4" xmlns="http://www.w3.org/2000/svg" class="cf-icon-svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M16.417 10.283A7.917 7.917 0 1 1 8.5 2.366a7.916 7.916 0 0 1 7.917 7.917zm-6.804.01 3.032-3.033a.792.792 0 0 0-1.12-1.12L8.494 9.173 5.46 6.14a.792.792 0 0 0-1.12 1.12l3.034 3.033-3.033 3.033a.792.792 0 0 0 1.12 1.119l3.032-3.033 3.033 3.033a.792.792 0 0 0 1.12-1.12z"></path></g></svg>');
      }
    }
  }

  &__input {
    all: unset;
    margin: 10px 0;
    width: 100%;
    flex: 1;
    text-overflow: ellipsis;
  }
}
