$montserrat: "Montserrat", sans-serif;
$dancing-script: "Dancing Script", cursive;

$fs-small: 1rem;
$fs-medium: 2rem;
$fs-large: 3.5rem;

$light-brown: #e3d5ca;
$black: rgba(0, 0, 0, 0.9);
$white: #fff;
$white-2: #f7f7f7;
